extends ../layout



block head
    script(type='text/javascript').
            $(document).ready(function(){
                //Initialize the datePicker
                $("#weekPicker").datetimepicker({
                    format: 'DD/MM/YYYY',
                    minDate: moment()
                });

                //Get the value of Start and End of Week
                $('#weekPicker').on('dp.change', function (e) {
                    var value = $("#weekPicker").val();
                    var firstDate = moment(value, "DD/MM/YYYY").day(1).format("DD.MM.YYYY");
                    var lastDate =  moment(value, "DD/MM/YYYY").day(5).format("DD.MM.YYYY");
                    $("#weekPicker").val(firstDate + " - " + lastDate);

                    $(':input[type="submit"]').prop('disabled', false);

                    for (var i = 1; i<6; i++){
                        var text = moment(value, "DD/MM/YYYY").day(i).format("DD.MM.YYYY");
                        $("#day"+i).text(text);
                    }
                    var timeSlots = [8,9,10,11,13,14,15,16];
                    for(i = 1; i<6; i++){
                        for(var j = 0; j<timeSlots.length; j++){
                            var valueText = moment(value, "DD/MM/YYYY").day(i).add(timeSlots[j], 'hours').unix();
                            $('#day'+i+'slot'+timeSlots[j]).attr("value", valueText);
                        }
                    }
                });
            });


block content 
    
    .container
        h4 Napravi novi raspored
        if error   
            .alert.alert-warning
                p #{error}
        form.form-horizontal(method='POST' action='/administration/schedule')

            .form-group.row
                .col-sm-offset-2.col-sm-6
                    input.form-control(type= 'text', id = 'weekPicker', name = "week", placeholder='select a week')

            -var days=['mon','tue','wen','thu','fri']
            -var timeSlots = [8,9,10,11,13,14,15,16]
            each day,i in days
                hr
                .form-group.row
                    .col-sm-2
                        label.label-text(id = 'day'+(i+1)) 
                    .col-sm-6
                        each slot in timeSlots    
                            label.checkbox-inline.control-label 
                                input(type='checkbox', id='day'+(i+1)+'slot'+slot , name = 'days') 
                                |   #{slot} 

            .form-group.row
                .col-sm-offset-2.col-sm-6
                    button.btn.btn-info(type='submit', id='submit', disabled='') Spremi raspored
                
            

    