extends layout

block content
    .container-fluid.text-center
        .row.content
            include includes/left_sidebar
            
            .col-sm-8.text-left
                h1 Dobro došli
                p
                    | Ovo je garaža osnovana 2005. godine sa radnicima koji skupa imaju preko 30 godina iskustva u popravcima, sigurni ste u našim rukama
                hr
                h3 Kontakt:
                    ul.container.details
                        li
                            p
                            span.glyphicon.glyphicon-earphone.one(style='width:50px;')
                            | 098/098-0988
                        li
                            p
                            span.glyphicon.glyphicon-envelope.one(style='width:50px;')
                            | garage@email.hr
                        li
                            p
                            span.glyphicon.glyphicon-map-marker.one(style='width:50px;')
                            | GarageLocation 22, 3100 Osijek, Hrvatska
                        li
                            p
                            span.glyphicon.glyphicon-tag.one(style='width:50px;')
                            a(href='//www.facebook.com/garagename') Naša Facebook stranica
            
            include includes/right_sidebar

            

    